// Colors
$primary-color: #0ab8ff;
$secondary-color: #0056b3;
$background-color: linear-gradient(to bottom, #0ab8ff, #0056b3, #ffffff);
$text-color: #030303;
$light-color: #f8f9fa;
$dark-color: rgb(25, 29, 43);
