body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}



/* static/
├── css/
│   └── main.css
├── js/
│   └── app.js
└── img/
    └── logo.png */
